{% extends 'base.html' %}



{% block content %}
<h3 class="display-6">Clientes Cadastrados</h3>
<div class="row mb-3">
  <div class="col-md-6">
    
      <form action="{% url 'clients_list' %}" method="get">
          <div class="input-group">
              <input type="text" class="form-control" name="name" placeholder="Nome" value="{{ request.GET.name }}">
              <select class="form-select" name="lead">
                <option value="" {% if not request.GET.lead %} selected {% endif %}>Todos os Leads</option>
                {% for lead in leads %}
                  <option value="{{ lead.id }}" {% if request.GET.lead == lead.id %} selected {% endif %}>{{ lead.name }}</option>
                {% endfor %}
              </select>
              <button type="submit" class="btn btn-primary">
                  <i class="bi bi-search"></i>
              </button>
          </div>
      </form>
      
  </div>
  <div class="col-md-6">
    <a href="{% url 'clients_create'  %}" class="btn btn-success float-end">
      <i class="bi bi-plus"></i> Novo Cadastro
    </a>
  </div>
</div>

  <div class="row mb-3">
    <div class="col-md-6">
      <form method="get" action="{% url 'clients_list' %}">
        <div class="input-group">
          <select class="form-select" name="requirement_neighborhood">
            <option value="" {% if not request.GET.requirement_neighborhood %} selected {% endif %}>Todos os Bairros</option>
            {% for neighborhood in requirement_neighborhoods %}
              <option value="{{ requirement_neighborhood.id }}" {% if request.GET.requirement_neighborhood == requirement_neighborhood.id %} selected {% endif %}>{{ neighborhood.name }}</option>
            {% endfor %}
          </select>
          
          <select class="form-select" name="requirement_value">
            <option value="">Todos os valores</option>
            {% for range in requirement_values %}
                <option value="{{ range }}">{{ range }}</option>
            {% endfor %}
        </select>
          <button type="submit" class="btn btn-primary">
            <i class="bi bi-filter"></i> Filtrar
          </button>
        
      </form>
    </div>
  </div>
  

  <br>
  <br>


  <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>NOME</th>
            <th>TELEFONE</th>
            
            <th>LEAD</th>
            <th>BAIRRO</th>
            <th>QUARTOS</th>
            <th>METRAGEM</th>
            <th>VALOR</th>
            
            <th>AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
            <tr>
              <td>{{ client.name }}</td>
              <td>{{ client.tel }}</td>
              
              <td>{{ client.lead }}</td>
              <td>{{ client.requirement_neighborhood }}</td>
              <td>{{ client.requirement_rooms }}</td>
              <td>{{ client.requirement_footage }} m</td>
              <td>{{ client.formatted_value }}</td>
              <td>
                <a href="{% url 'clients_detail' client.id %}" class="btn btn-info btn-sm">
                  <i class="bi bi-eye-fill"></i>
                </a>
                  <a href="{% url 'clients_update' client.id %}" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil-fill"></i>
                  </a>
                  <a href="{% url 'clients_delete' client.id %}" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash3-fill"></i>
                  </a>
                  
              </td>
            </tr>
           
          {% endfor %}
        </tbody>
    </table>

{% endblock  %}