{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-4">Editar Imóvel {{object.title}}</h3>

    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Editar Imóvel</button>
        </form>
      </div>
    </div>
    <a href="{% url 'inventory_list' %}" class="btn btn-secondary mt-3">Cancelar</a>
  </div>
{% endblock %}